# Bỏ qua các file rác môi trường & cache
__pycache__/
*.pyc
.env
.vscode/

# Bỏ qua kho dữ liệu thô và Vector Index nặng
data/
raw_videos/
extracted_frames/
*.index
*.faiss
*.pkl

# Bỏ qua file checkpoint của mô hình AI nặng
checkpoints/
models/*.pt
models/*.bin
